body {
    main {
        section {
            //border: 1px white solid;
            margin-top: 2rem;

            h2 {
                font-weight: 100;
            }

            .lang_select {
                appearance: none;
                width: 7rem;
                height: 2rem;
                border: 0;
                margin-top: 1rem;
                font-size: 1.5rem;
                border-radius: 0.4rem;
                text-align: center;
            }

            .grid-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 2rem;

                .color-template {
                    border: 0.6px white solid;
                    transition: all 0.2s ease-in-out;
                    width: 8rem;
                    height: 6rem;
                    max-width: 8rem;
                    max-height: 6rem;

                    &:hover {
                        transform: scale(1.2);
                        border: 5px white solid;
                        border-radius: 10px;
                    }
                }

                .template-green {
                    background-color: rgb(38, 48, 34);
                }

                .template-yellow {
                    background-color: rgb(182, 182, 49);
                }

                .template-blue {
                    background-color: rgb(0, 86, 136);
                }

                .template-black {
                    background-color: rgb(37, 37, 37);
                }

                .template-cyan {
                    background-color: rgb(0, 136, 125);
                }

                .template-pink {
                    background-color: rgb(211, 122, 196);
                }
            }
        }
    }
}