* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: 1px solid black;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(38, 48, 34);
    font-family: 'Raleway', cursive;
    font-weight: 300;
    color: white;

    header {
        nav {
            background-color: rgb(28, 35, 25);
            box-shadow: 0 8px 6px -6px black;

            ul {
                display: flex;
                justify-content: center;
                width: 100%;

                li {
                    padding: 1rem;

                    a {
                        font-size: 1.15rem;
                        transition: all 0.3s ease;

                        &:hover {
                            color: rgb(226, 255, 133);
                        }
                    }
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 1rem;

        h1 {
            margin-top: 1rem;

            i.lightning-icon {
                transform: scale(0.75);
            }
        }

        .input-area {
            margin: 1rem;

            .list-element {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                animation: scaleUp 0.5s ease;
                max-width: 80vw;

                input,
                button {
                    margin: 0.5rem;
                    border: 0.25px;
                }

                .btn-checkbox,
                .btn-trash {
                    transform: scale(2);
                    color: white;
                    background-color: transparent;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .input-text {
                    height: 2rem;
                    font-size: 1.5rem;
                    padding: 0.5rem;
                    max-width: 70%;
                }
            }
        }

        .btn-add-element {
            padding: 0.5rem 0.5rem;
            background-color: transparent;
            border: none;
            color: white;
            font-size: 1.25rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    footer {
        background-color: rgb(22, 34, 17);
        box-shadow: 0 -6px 10px -3px rgb(11, 11, 11);
        position: absolute;
        width: 100%;
        height: 7rem;
        top: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: center;

            a {
                margin: 1rem;

                img {
                    width: 3.5rem;
                    height: 3.5rem;
                }
            }
        }
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes scaleDown {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.remove {
    transform: scale(0);
    transition: all 0.5s ease;
}